# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules/

# Typescript and tap output
/dist/
/.nyc_output/
/coverage/

# Generated protobuf types
/src/proto/generated/

# Template stuff
/templates/png
/templates/raw
/templates/metadata
/templates/game.*

# Banish DS_Store
/.DS_Store
*/.DS_Store
