# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules/

# Typescript and tap output
/build/
/.nyc_output/
/coverage/

# Banish DS_Store
/.DS_Store
*/.DS_Store
